/*


        Write css code here with appropriate CSS Selectors  and CSS property/values.
        
        Refer specification details description for more information.


*/

body {
    background-color: #00FFFF;
    font-family: "Arial";
    font-size: 12px;
}

h1 {
    font-size: 2.5em;
}

dd {
    font-size: 1.5em;
}

p[title] {
    color: #FF0000;
    font-size: 1.7em;
    line-height: 1.5;
}

.reasons {
    color: #FF0F70;
    font-weight: bold;
    line-height: 1.5;
    font-size: 1.5em;
}

#description01 {
    font-style: italic;
    color: #F500FF;
}

#description07 {
    font-style: italic;
    color: #FF4500;
    font-weight: bold;
}

em {
    color: #FF0000;
    font-weight: bold;
}